.hourlyCard{
    margin-top: 62px !important;
    margin: auto ;
    justify-content: center;
    display: flex;
    width: 1240px;
    // height: 120px;
    padding: 23.904px var(--gaps-24, 28.685px) var(--gaps-22, 26.295px) var(--gaps-32, 38.247px);
    align-items: center;
    gap: var(--gaps-24, 28.685px);
    flex-shrink: 0;

    border-radius: var(--gaps-corners, 29.88px);
    border: 1.195px solid var(--colours-lightblue-145, rgba(190, 220, 255, 0.55));
    background: #FFF;
    box-shadow: 0px 1.2px 12px 0px rgba(83, 117, 170, 0.15);
    overflow: hidden;
}